In [6]:
import pandas as pd

In [7]:
data = pd.read_csv('./csv_files/csv/All-App-GPU.csv')
data.head()

/home/luan/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (27,35,37) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Unnamed: 0,compute_version,gpu_id,gpu_name,l1_cache_used,max_clock_rate,num_of_cores,L2,bus,memory_clock,...,block_z,registers_per_thread,static_smem,dynamic_smem,architecture,registers,smem,cmem,occupancy,number of lines
0,1,3.0,1.0,GTX-680,0.0,1058.0,1536.0,0.5,256.0,3004.0,...,1.0,17.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2,3.0,1.0,GTX-680,0.0,1058.0,1536.0,0.5,256.0,3004.0,...,1.0,17.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,3,3.0,1.0,GTX-680,0.0,1058.0,1536.0,0.5,256.0,3004.0,...,1.0,17.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,4,3.0,1.0,GTX-680,0.0,1058.0,1536.0,0.5,256.0,3004.0,...,1.0,17.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,5,3.0,1.0,GTX-680,0.0,1058.0,1536.0,0.5,256.0,3004.0,...,1.0,17.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df = pd.read_csv('./cuda_to_csv/output.csv', sep=',', names=['null','AppName','block_x','compute_version','registers','smem','cmem','number_of_lines_function','occupancy'])
df.head()

,null,AppName,block_x,compute_version,registers,smem,cmem,number_of_lines_function,occupancy
0,0,matMul_gpu_sharedmem,8,3.0,32,512,348,15,100.0
1,1,matMul_gpu_sharedmem,16,3.0,25,2048,348,15,100.0
2,2,matMul_gpu_sharedmem,32,3.0,25,8192,348,15,38.0
3,3,matMul_gpu_sharedmem,8,3.5,32,512,348,15,100.0
4,4,matMul_gpu_sharedmem,16,3.5,25,2048,348,15,100.0

In [14]:
new_dataset = pd.merge(df, data, how = 'inner', on = ['AppName','compute_version', 'block_x'])
#new_dataset.to_csv('new_dataset.csv')
new_dataset

,null,AppName,block_x,compute_version,registers_x,smem_x,cmem_x,number_of_lines_function,occupancy_x,Unnamed: 0,...,block_z,registers_per_thread,static_smem,dynamic_smem,architecture,registers_y,smem_y,cmem_y,occupancy_y,number of lines
0,0,matMul_gpu_sharedmem,8,3.0,32,512,348,15,100.0,289,...,1.0,22.0,512.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,0,matMul_gpu_sharedmem,8,3.0,32,512,348,15,100.0,290,...,1.0,22.0,512.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,0,matMul_gpu_sharedmem,8,3.0,32,512,348,15,100.0,291,...,1.0,22.0,512.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,0,matMul_gpu_sharedmem,8,3.0,32,512,348,15,100.0,292,...,1.0,22.0,512.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,0,matMul_gpu_sharedmem,8,3.0,32,512,348,15,100.0,293,...,1.0,22.0,512.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5219,8,matrix_sum_coalesced,32,5.2,8,0,348,5,100.0,7972,...,1.0,8.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
5220,8,matrix_sum_coalesced,32,5.2,8,0,348,5,100.0,7973,...,1.0,8.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
5221,8,matrix_sum_coalesced,32,5.2,8,0,348,5,100.0,7974,...,1.0,8.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
5222,8,matrix_sum_coalesced,32,5.2,8,0,348,5,100.0,7975,...,1.0,8.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
5223,8,matrix_sum_coalesced,32,5.2,8,0,348,5,100.0,7976,...,1.0,8.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
new_dataset.drop(columns=[])
new_dataset

,null,AppName,block_x,compute_version,registers_x,smem_x,cmem_x,number_of_lines_function,occupancy_x,Unnamed: 0,...,block_z,registers_per_thread,static_smem,dynamic_smem,architecture,registers_y,smem_y,cmem_y,occupancy_y,number of lines
0,0,matMul_gpu_sharedmem,8,3.0,32,512,348,15,100.0,289,...,1.0,22.0,512.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,0,matMul_gpu_sharedmem,8,3.0,32,512,348,15,100.0,290,...,1.0,22.0,512.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,0,matMul_gpu_sharedmem,8,3.0,32,512,348,15,100.0,291,...,1.0,22.0,512.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,0,matMul_gpu_sharedmem,8,3.0,32,512,348,15,100.0,292,...,1.0,22.0,512.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,0,matMul_gpu_sharedmem,8,3.0,32,512,348,15,100.0,293,...,1.0,22.0,512.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5219,8,matrix_sum_coalesced,32,5.2,8,0,348,5,100.0,7972,...,1.0,8.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
5220,8,matrix_sum_coalesced,32,5.2,8,0,348,5,100.0,7973,...,1.0,8.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
5221,8,matrix_sum_coalesced,32,5.2,8,0,348,5,100.0,7974,...,1.0,8.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
5222,8,matrix_sum_coalesced,32,5.2,8,0,348,5,100.0,7975,...,1.0,8.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
5223,8,matrix_sum_coalesced,32,5.2,8,0,348,5,100.0,7976,...,1.0,8.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN