In [5]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.preprocessing import PolynomialFeatures
import seaborn as sns
from sklearn import metrics
from sklearn.metrics import mean_squared_error
import random
from sklearn.linear_model import SGDRegressor

df1 = pd.read_csv('./datasets/teste_08_06.csv', sep=',')
df1 = df1[['L2','AppId']]
df1 = df1.sort_values(by='AppId', ascending=True)
df1

       L2  AppId
0     0.5      1
1269  1.0      1
1268  1.0      1
1267  1.0      1
1266  1.0      1
...   ...    ...
4984  1.5      9
4983  1.5      9
4982  1.5      9
4990  1.5      9
8458  2.0      9

[8459 rows x 2 columns]

In [6]:
def percent_of_nullables(df):
    return round(100 * (df.isnull().sum() / len(df.index)), 2).sort_values(ascending=False)

In [7]:
percent_of_nullables(df1)

perc = (df.isna().sum()/df.shape[0])
df[perc[perc < .95].index]

L2       0.0
AppId    0.0
dtype: float64